{% extends 'saris_curriculum/base.html' %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

{% block content %} 

<div class="page-heading">
    <div class="page-title ">
        <div class="row">
            <div class="col-lg-12 col-md-6 order-last">
                <h3> Program Details</h3>
                <h4 class="text-muted"> 
                    <i class="fa fa-book"></i> ({{program.code}}) {{program.name}}
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        
                        <div class="d-inline-flex gap-2">
                            
                            <a href="{% url 'curriculum:program.update' program.pk %}" class="btn btn-sm btn-primary">
                                Update
                            </a>
                            <a href="{% url 'curriculum:program.browse' %}" class="btn btn-sm btn-light-primary">
                                Browse
                            </a>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tr>
                                <th>Program type<th>
                                <td>{{program.program_type}}<td>
                            </tr>
                            <tr>
                                <th>Program level<th>
                                <td>{{program.program_level}}<td>
                            </tr>
                            <tr>
                                <th>Department<th>
                                <td>{{program.department}}<td>
                            </tr>
                            <tr>
                                <th>Program version<th>
                                <td>{{program.version}}<td>
                            </tr>
                            <tr>
                                <th>Years of study<th>
                                <td>{{program.years}}<td>
                            </tr>
                            <tr>
                                <th>Semesters of study<th>
                                <td>{{program.semesters}}<td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="page-heading">
    <div class="page-title ">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3> Program Courses</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                   <a href="{% url 'curriculum:curriculum.create' program.pk  %}" class="btn btn-sm btn-primary">Add Course</a>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        
                        <button type="button" class="btn btn-sm btn-primary" data-bs-target="#filterModal" data-bs-toggle="modal" data-bs-backdrop="false">
                            <i class="fa fa-filter"></i> Filter
                        </button>
                        
                        <a href="{% url 'curriculum:program.details' program.pk %}" class="btn btn-sm btn-light-primary">
                           <i class="fa fa-refresh"></i>  Reset
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="font-bold">Total Records: {{ table.rows|length }}</p>
                        <div class="table-responsive">
                            {% render_table table %} 
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

{% include "filter_modal.html" %}

{% endblock %}
