{% extends 'saris_studentportal/base.html' %}
{% load i18n  %}

{% block content_title %} {% trans 'Exam Permit' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'studentportal:home' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Exam Permit' %}</li>
    </ol>
{% endblock %}


{% block content %}
<div class="container ">
    <div id="error">
        <div class="error-page">
            <div class="col-lg-12 offset-lg-0 ">
                <div class="text-center m-5 ">
                    <h4 class="error-title mb-4">
                        You may download your examination permit.
                    </h4>
                    
                    <a href="{% url 'studentportal:download_exam_permit' %}" class="btn btn-success" target="_blank">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
            </div>
        </div>
    </div> 
</div>   
{% endblock %}
