{% extends 'jazzmin.html' %}


{% block sidebar %} 
<li class="nav-item">
    <a href="{% url 'admission:home' %}" class='nav-link'>
        <i class="nav-icon fa fa-home"></i>
        <span>Home</span>
    </a>
</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-user-graduate"></i>
        <p>Enrollment <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
            <a href="{% url 'admission:enrollment.create' %}" class='nav-link'>
                <i class="far fa-circle nav-icon"></i>
                <span>Create</span>
            </a>
        </li>
        
        <li class="nav-item  ">
            <a href="{% url 'admission:enrollment.browse' %}" class='nav-link'>
                <i class="far fa-circle nav-icon"></i>
                <span>Browse</span>
            </a>
        </li> 

        <li class="nav-item">
            <a href="{% url 'admission:enrollment.search' %}" class='nav-link'>
                <i class="far fa-circle nav-icon"></i>
                <span>Search</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="{% url 'admission:enrollment.import' %}" class='nav-link'>
                <i class="far fa-circle nav-icon"></i>
                <span>Import</span>
            </a>
        </li> 
        
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-history"></i>
        <p>Withdrawal <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item  ">
            <a href="{% url 'admission:withdrawal.create' %}" class='nav-link'>
                <i class="far fa-circle nav-icon"></i>
                <span>Create</span>
            </a>
        </li>
        
        <li class="nav-item  ">
            <a href="{% url 'admission:withdrawal.browse' %}" class='nav-link'>
                <i class="far fa-circle nav-icon"></i>
                <span>Browse</span>
            </a>
        </li>

    </ul>
</li>


<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-file-word"></i>
        <p>Admission Letter <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">

        <li class="nav-item  ">
            <a href="{% url 'admission:enrollment.letters' %}" class='nav-link'>
                <i class="far fa-circle nav-icon"></i>
                <span>Download</span>
            </a>
        </li>

    </ul>
</li>

{% endblock %}
