{% extends 'saris_admission/base.html' %}

{% block content %} 

<div class="page-heading">
    <div class="page-title ">
        <div class="row mb-4">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Welcome, {{ user.first_name }}</h3>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <section class="section">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <a href="{% url 'admission:enrollment.create' %}" >
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-user-plus"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Enroll Student</h5>
                                    <p class="card-text">Enroll new student</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'admission:enrollment.browse' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Browse Enrollment</h5>
                                    <p class="card-text">Browse enrolled students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'admission:withdrawal.create' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-user-slash"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Withdraw Student</h5>
                                    <p class="card-text">Create student withdrawal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'admission:withdrawal.browse' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-users-slash"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Browse Withdrawals</h5>
                                    <p class="card-text">Browse student withdrawals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'admission:enrollment.letters' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-file-word"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Admission Letters</h5>
                                    <p class="card-text">Generate admission letters</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col">
                <a href="{% url 'admission:enrollment.import' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-file-import"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Import Admissions</h5>
                                    <p class="card-text">Import data from excel or csv</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </section>
</div>

{% endblock %}
