{% extends 'saris_staffportal/base.html' %}

{% block content %} 

<div class="page-heading">
    <div class="page-title ">
        <div class="row mb-4">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Welcome, {{ user.first_name }}</h3>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for app in apps %}
            <div class="col">
                <a href="{% url app.url %}" target="__blank">
                    <div class="card h-100 ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa-brands fa-google-play"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">{{app.name}}</h5>
                                    <p class="card-text">{{app.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </section>
</div>

{% endblock %}
