{% extends 'saris_admission/base.html' %}
{% load i18n django_bootstrap5 %}

{% block content_title %} {% trans 'Browse Enrollment' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admission:home' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active">{% trans 'Enrollment' %}</li>
    </ol>
{% endblock %}

{% block page_actions %}
<div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
    <div class="float-right">
        <a href="{% url 'admission:enrollment.create'  %}" class="btn btn-sm btn-primary">Create</a>
    </div>
</div>
{% endblock %}

{% block content %} 
<div class="container-fluid ">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">    
                {% include "table.html" %}
            </div>
        </div>
    </section>
</div>
{% endblock %}

