{% extends 'saris_admission/base.html' %}
{% load i18n django_bootstrap5 %}

{% block content_title %} {% trans 'Create Enrollment' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admission:home' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admission:enrollment.browse' %}">{% trans 'Enrollment' %}</a></li>
        <li class="breadcrumb-item active">{% trans 'Create' %}</li>
    </ol>
{% endblock %}

{% block extrahead %}
    {{ wizard.form.media }}
{% endblock %}


{% block content %} 
<div class="container-fluid ">
    <section class="section">
        
        <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="card">
                <div class="card-header bg-light-secondary">
                    <div class="card-title">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</div>
                </div>
                <div class="card-body">
                    <div class="col-lg-6">
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {% bootstrap_form form %}
                        {% endfor %}
                    {% else %}
                        {% bootstrap_form wizard.form %}
                    {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                    {% if wizard.steps.prev %}
                        <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First</button>
                        <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary ">Submit</button>
                    <a href="{% url 'admission:home' %}" class="btn btn-danger ">Cancel</a>
                </div>
            </div>
            
        </form>
    </section>
</div>

{% endblock %}
