{% extends "saris_studentportal/base.html" %}
{% load i18n humanize %}

{% block content_title %} {% trans 'Payments' %} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'studentportal:home' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'studentportal:payments' %}">{% trans 'Payments' %}</a></li>
    <li class="breadcrumb-item">{% trans 'Details' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="container ">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4> Payment Details</h4>
                        <h5 class="text-muted">
                            <i class="fa fa-file-invoice"></i> {{invoice.invoice_number}} - {{invoice.service}}
                        </h5>
                    </div>
                    
                    <div class="card-body">
                        
                        <table class="table table-borderless ">
                            <tr>
                                <th>Invoice Number<th>
                                <td>{{invoice.invoice_number}}<td>
                            </tr>
                            <tr>
                                <th>Service<th>
                                <td>{{invoice.service}}<td>
                            </tr>
                            <tr>
                                <th>Invoice Amount<th>
                                <td><strong>{{invoice.invoice_amount|intcomma}}</strong><td>
                            </tr>
                            <tr>
                                <th>Paid Amount<th>
                                <td><strong>{{invoice.paid_amount|intcomma}}</strong><td>
                            </tr>

                            <tr>
                                <th>Balance <th>
                                <td><strong>{{invoice.balance|intcomma}}</strong><td>
                            </tr>
                            <tr>
                                <th>Session<th>
                                <td>{{invoice.academic_semester}}<td>
                            </tr>
                            <tr>
                                <th>Date<th>
                                <td>{{invoice.invoice_date}}<td>
                            </tr>
                            <tr>
                                <th>Status<th>
                                <td>{{invoice.status}}<td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
