{% load django_bootstrap5 %}

<div class="modal fade text-left" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel1">Filter Records</h5>
                <button type="button" class="close rounded-pill"
                    data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                {% if filter.form %}          
                    <form method="get">
                        {% bootstrap_form filter.form %}
                        {% bootstrap_button button_type="submit" content="Filter" %}
                    </form>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x"></i>
                    <span class="d-sm-block">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>