{% load static %}
<script src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendors/dataTables/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendors/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/table.js' %}"></script>

