{% extends 'saris_billing/base.html' %}

{% block content %} 
<div class="page-heading">
    <div class="page-title ">
        <div class="row mb-4">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Welcome, {{ user.first_name }}</h3>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <section class="section">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <a href="{% url 'billing:invoice.create' %}" >
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-file-invoice"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Issue Invoice</h5>
                                    <p class="card-text">Issue invoice to student</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'billing:invoice.bulk_create' %}" >
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Issue Bulk Invoice</h5>
                                    <p class="card-text">Issue invoice to multiple students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'billing:invoice.browse' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-folder-open"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Browse Invoice</h5>
                                    <p class="card-text">Browse issued invoices</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'billing:invoice.search' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Search Invoice</h5>
                                    <p class="card-text">Search issued invoice</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'billing:transaction.credit' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-plus-circle"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Credit Student</h5>
                                    <p class="card-text">Credit student wallet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'billing:transaction.debit' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-minus-circle"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Debit Student</h5>
                                    <p class="card-text">Debit student wallet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'billing:wallet.search' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-dollar"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Student Wallet</h5>
                                    <p class="card-text">Student transactions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'billing:transaction.import' %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="fa fa-file-import"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="font-semibold">Credit Students</h5>
                                    <p class="card-text">Import transactions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>

{% endblock %}
