
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admission Letter</title>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

        <style>
            body{
                font-family: Arial;
                font-size: 13px;
                text-align: justify;
                background-color: white;
                color: black;
            }

            .page-break{
                page-break-after: always;
            }

            table tr td{
                padding-left:20px;
            }

            @page{
                font-size:13px;
            }

        </style>
       
    </head>

    <body>       
    {% for letter  in letters %}
        {% include "saris_admission/letter/content.html" with letter=letter %}
        <div class="page-break"></div>
    {% endfor %}
    </body>
</html>

    
